@import './settings.scss';
@import './typography.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 10px auto;
  padding: 0;
  background: #fff;
  overflow-y: auto;
  max-width: 1164px;
}

a, a:hover, a:visited {
  text-decoration: none;
}

@media (max-width: 768px) {
  // * {border: 1px solid red;}
}

